<md-toolbar color="primary">
  <a class="control">
    <md-icon (click)="back()">arrow_back</md-icon>
  </a>
  <span>Informações</span>
</md-toolbar>

<md-card class="container">
  <div *ngIf="user">
    <md-card-title>{{ user.name }}</md-card-title>
    <md-card-content>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Sexo:</strong> {{ user.sex | sex }}</p>
      <p><strong>Nascimento:</strong> {{ (user.birthday | bmDate:'DD/MM/YYYY') || 'Não definido' }}</p>
    </md-card-content>
    <button md-button (click)="edit()">EDITAR</button>
    <button md-button color="warn" (click)="delete()">EXCLUIR</button>
  </div>
</md-card>
