<form [ngFormModel]="form">
  <p [hidden]="! submit.error">Não foi possível adicionar o usuário. Verifique os dados e tente novamente.</p>
  <md-input placeholder="Nome" ngControl="name" [(ngModel)]="model.name" [dividerColor]="(! form.controls.name.valid && form.controls.name.dirty) ? 'warn' : 'primary'"></md-input>
  <md-input placeholder="Email" ngControl="email" [(ngModel)]="model.email" [dividerColor]="(! form.controls.email.valid && form.controls.email.dirty) ? 'warn' : 'primary'"></md-input>
  <md-radio-group [(ngModel)]="model.sex">
    <md-radio-button value="female">Feminino</md-radio-button>
    <md-radio-button value="male">Masculino</md-radio-button>
    <!-- <md-radio-button value="undefined">Não informado</md-radio-button> -->
  </md-radio-group>
  <md-input placeholder="Nascimento" ngControl="birthday" [(ngModel)]="model.birthday" [dividerColor]="(! form.controls.birthday.valid && form.controls.birthday.dirty) ? 'warn' : 'primary'">
    <md-hint align="end">dd/mm/aaaa</md-hint>
  </md-input>
  <button md-button [disabled]="! form.valid" (click)="create()">ADICIONAR</button>
</form>
